/* fonts  */
@font-face {
    font-family: "PT Sans", sans-serif;
    src: url(../fonts/PTSans-Bold.ttf);
}

/* common part start  */
body{
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}
/* common part end  */

/* header start  */
header{
    padding: 30px 0;
    background-color: #fcdb00;
}
.logo{}
.logo a img{}
.menu{}
.menu ul li a{
    padding: 0 100px 0 0 !important;
    font-size: 22px;
    font-weight: 700;
    color: #010101 !important;  
    transition: .33s;  
}
.menu ul li:last-child a{
    padding-right: 0 !important;
}
.menu ul li a:hover{
    color: white !important;
}
/* header end  */


/* slider start  */
.slider{
    padding: 107px 0 30px 0;
    background-color: #fcdb00;
}
.carousel-indicators {
    bottom: -26px;
}
.carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.s_text{
    margin: 45px 0 150px;
}
.s_text h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.s_text h2{
    margin: 40px 0;
    font-size: 20px;
    font-weight: 400;
    color: #313841;
}
.s_text p{
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}
.s_icon{}
.s_icon ul li a i{
    padding-right: 20px !important;
    font-size: 42px;
    font-weight: 400;
    color: #010101;
    transition: .33s;
}
.s_icon ul li a i:hover{
    transform: scale(.8);
    color: white;
}
.s_img{}
/* slider end  */


/* feature start  */
.feature{
    margin: 100px 0;
}
.f_item{
    margin-top: 70px;
}
.c_text{}
.c_title{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
}
.c_parag{
    margin: 30px 0 25px !important;
    font-size: 20px;
    color: #313841;
}
.f_icon{
    font-size: 50px;
    font-weight: 400;
    color: #010101;
    transition: .33s;
}
.f_icon:hover{
    transform: scale(.8);
    color: #fcdb00; 
}
.f_2row_content{}
.f_2row_content h2{
    font-size: 22px;
    font-weight: 400;
    color: #010101;
}
.f_2row_content p{}
/* feature end  */


/* contact start  */
.contact{ 
    padding: 50px 0;
    background-color: black;
}
.contact_heading{
    color: #fcdb00;
}
.contact_p{
    color: #898989;
}
form{
    margin: 20px 0;
}
.c_input{
    height: 50px;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}
.c_submit{
    width: 100%;
    height: 50px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    background-color: #fcdb00;
    transition: .33s;
}
.c_submit:hover{
    color: #fcdb00;
    background-color: white;
}
.contact_icon{}
.contact_icon ul li a i{
    margin: 30px 0 10px !important;
    color: #fcdb00;
}
.contact_icon ul li a i:hover{
    color: #ffffff;
}
/* contact end  */


/* footer start  */
footer{
    padding: 20px 0 40px;
    background-color: black;
}
.footer_text{}
.footer_text address{
    color: white;
}
.footer_text ul li{
    list-style: none;
}
.footer_text ul li a{
    color: white;
    text-decoration: none;
}
/* footer end  */


















